
.job-schedule-submit-button{   
    -fx-border-width:  0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/schedule/SubmitBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.job-schedule-submit-button:hover{
    -fx-background-image : url("../images/schedule/SubmitBtn_Hover.png");
}

.job-schedule-submit-button:pressed{
    -fx-background-image : url("../images/schedule/SubmitBtn_OnClick.png");
}

.job-schedule-cancel-button{   
    -fx-border-width:  0 0 0 0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/schedule/CancelBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.job-schedule-cancel-button:hover{
    -fx-background-image : url("../images/schedule/CancelBtn_Hover.png");
}

.job-schedule-cancel-button:pressed{
    -fx-background-image : url("../images/schedule/CancelBtn_OnClick.png");
}

.default-pane-background{
    -fx-background-color : #624D5E;
}
.schedule-pane-label{
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-background-color : #624D5E;
    -fx-border-width:  1 1 1 1;
    -fx-border-color : #828A95;
}
.approve-radio-button>*.radio { 
    -fx-alignment: CENTER;
    -fx-background-color: transparent;    
    -fx-background-insets: 0px;
}

.approve-radio-button{
    -fx-background-image : url("../images/schedule/ApprovedBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.approve-radio-button:hover{
    -fx-background-image : url("../images/schedule/ApprovedBtn_Hover.png");
}

.approve-radio-button:selected{
    -fx-background-image : url("../images/schedule/ApprovedBtn_OnCLick.png");
}

.approve-radio-button:pressed{
    -fx-background-image : url("../images/schedule/ApprovedBtn_OnCLick.png");
}


.approve-radio-button>*.radio>*.dot {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.reject-radio-button>*.radio { 
    -fx-alignment: CENTER;
    -fx-background-color: transparent;    
    -fx-background-insets: 0px;
}

.reject-radio-button{
    -fx-background-image : url("../images/schedule/RejectedBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.reject-radio-button:hover{
    -fx-background-image : url("../images/schedule/RejectedBtn_Hover.png");
}

.reject-radio-button:selected{
    -fx-background-image : url("../images/schedule/RejectedBtn_OnCLick.png");
}

.reject-radio-button:pressed{
    -fx-background-image : url("../images/schedule/RejectedBtn_OnCLick.png");
}


.reject-radio-button>*.radio>*.dot {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.schedule-item-description{
    -fx-control-inner-background: #624D5E;
    -fx-background-color: #624D5E;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1;
    -fx-border-color : #828A95;
}

.date-picker{
    -fx-control-inner-background: #624D5E;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0 0 0 0;
}
.date-picker>*.arrow-button{
    -fx-background-color: #624D5E;
}

.date-picker>*.arrow-button>*.arrow {
     -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: #624D5E;
    -fx-background-image : url("../images/schedule/ScheduleCalendarBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;     
}
.date-picker>*.arrow-button>*.arrow:hover{
    -fx-background-image : url("../images/schedule/ScheduleCalendarBtn_Hover.png");
}

.date-picker>*.arrow-button>*.arrow:pressed{
    -fx-background-image : url("../images/schedule/ScheduleCalendarBtn_OnClick.png");
}

.start-milestone-date-picker>*.text-field {
     -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #ECEEAC;
}

.intermediate-milestone-date-picker>*.text-field {
     -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #EFC7A4;
}

.finish-milestone-date-picker>*.text-field {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #CFE0C0;
}

.milestone-actual-date-picker>*.text-field {
     -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #CFE0C0;
}

.milestone-planned-date-picker>*.text-field {
     -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #ECEEAC;
}

.start-milestone-box>*.box{
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;     
    -fx-border-insets: 2;
    -fx-border-width: 1;     
    -fx-border-color : #ECEEAC ;
    -fx-background-color: transparent;
}


.start-milestone-box:selected>*.box>*.mark { 
   -fx-background-color: #ECEEAC;
    -fx-shape: "M 0 0 V 2 H 2 V 0 z";
}

.intermediate-milestone-box>*.box{
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;     
    -fx-border-insets: 2;
    -fx-border-width: 1;     
    -fx-border-color : #EFC7A4 ;
    -fx-background-color: transparent;
}


.intermediate-milestone-box:selected>*.box>*.mark { 
   -fx-background-color: #EFC7A4;
    -fx-shape: "M 0 0 V 2 H 2 V 0 z";
}

.finish-milestone-box>*.box{
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;     
    -fx-border-insets: 2;
    -fx-border-width: 1;     
    -fx-border-color : #CFE0C0 ;
    -fx-background-color: transparent;
}


.finish-milestone-box:selected>*.box>*.mark { 
   -fx-background-color: #CFE0C0;
    -fx-shape: "M 0 0 V 2 H 2 V 0 z";
}

.schedule-title{
    -fx-border-width: 0 0 4 0;
    -fx-border-color : #EC5E6D ;
    -fx-background-color: transparent;
}

.schedule-title-label{
  
    -fx-background-radius: 5 5 0 0;
    -fx-font-size: 20px;   
    -fx-font-style: italic;
    -fx-text-fill: white;
    -fx-background-color: #EC5E6D;
}