.button {
    -fx-font-weight: bold;
    -fx-cursor: default;
}
.root {
    -fx-background-color: transparent;
    -fx-font-family: "Century Gothic";
    -fx-cursor: default;
}

.login-button{
	-fx-background-color:#18B6B7;
	-fx-text-fill: white;
	 -fx-font-family: "Century Gothic";
}

.login-user-field{
	-fx-text-fill: white;
	-fx-background-color: #5C6B72;
	 -fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
	
}

.login-password-field{
	-fx-text-fill: white;
	-fx-background-color: #5C6B72;
}

.login-user-image{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color : #5C6B72;
    -fx-image : url("../images/icons/Icon_Username.png");
}

.login-password-image{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color : #5C6B72;
    -fx-image : url("../images/icons/Icon_Password.png");
}

.login-password-image{
	
}

.cursor-image{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/loader.gif"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;

}
.login-pane{   
    -fx-background-color : transparent;
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/LoginBG.jpg"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.split-pane{
    -fx-background-color: transparent; 
}
.border-pane{
    -fx-background-color: transparent; 
}

.split-pane > .split-pane-divider {  
    -fx-padding: 0.0 0.0 0.0 0.0;  
} 
.top-banner-pane{
    -fx-background-color: white;
}
.left-menu-pane{
    -fx-background-color:  rgb(160.0,84.0,97.0);
    -fx-background-image:  url("../images/BG_ActionCentre.png"); 
}
.common-search-pane{
    -fx-background-color:  rgb(91.0,99.0,110.0);
    -fx-background-image:  url("../images/BG_TopOverlay.png");
}

.quick-link-button{
    -fx-background-image : url("../images/search/QuickLinksBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}
.quick-link-button:hover{
    -fx-background-image : url("../images/search/QuickLinksBtn_Hover.png");
}

.quick-link-button:pressed{
    -fx-background-image : url("../images/search/QuickLinksBtn_OnClick.png");
}


.advance-search-button{
    -fx-background-image : url("../images/search/AdvSearchsBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}
.advance-search-button:hover{
    -fx-background-image : url("../images/search/AdvSearchsBtn_Hover.png");
}

.advance-search-button:pressed{
    -fx-background-image : url("../images/search/AdvSearchsBtn_OnClick.png");
}



.activity-pane{
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto ;
    -fx-background-image:  url("../images/BG_Display.png");

}

.hierarchyNode-pane{
    -fx-cursor: default;
}

.hierarchyPane-pane{
    -fx-background-color:  transparent;   
    -fx-background-image:  url("../images/BG_Display.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch ;
}
.spreadsheet-cell{
    -fx-font-size : 10.0;
    -fx-alignment: center-left;      
}

.spreadsheet-cell:selected{
    -fx-background-color:  #614F5D;   
}

.spreadsheet-cell-name-text{
	   -fx-font-family: "Century Gothic";
	-fx-font-size: 10px;-fx-text-fill:#4B7266;
}


.spreadsheet-cell-desc-text{
	   -fx-font-family: "Century Gothic";
	-fx-font-size: 10px;-fx-text-fill:#874F64;
}

/*.spreadsheet-cell-name-label{
    -fx-font-size: 9px;
    -fx-text-fill:#4B7266;
}

.spreadsheet-cell-name-label:selected{   
    -fx-text-fill:#A2C8DF;
}*/

/*.spreadsheet-cell-desc-label{
    -fx-font-size: 9px;
    -fx-text-fill:#874F64;
}

.spreadsheet-cell-desc-label:selected{
     -fx-text-fill:#A2C8DF;
}*/


.scroll-pane{
    -fx-background-color: transparent;
}

.dependency-split-pane{
    -fx-background-color: transparent;
}

.tab-pane{
	 -fx-tab-min-width: 4.583em; 
}

.tab-pane > .tab-header-area > .tab-header-background {  
    -fx-background-color:transparent; 
     
}

.dependency-tab-pane > .tab-header-area > .tab-header-background {  
    -fx-background-color:transparent; 
     -fx-opacity: 0.0;
      -fx-effect: innershadow(two-pass-box , rgba(0.0,0.0,0.0,0.6) , 4.0, 0.0 , 0.0 , 0.0);
   
}



/*.tab-content-area {
    -fx-background-color:rgb(86,69,79);     
    -fx-border-color: rgb(247,88,108); 
   // -fx-border-width: 5 5 0 0;
}*/


.tab-pane .tab .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane .tab
{

    -fx-background-color: #56444F;  
}
.tab-pane .tab:selected
{
    -fx-background-color: rgb(247.0,88.0,108.0);
}

.tab {

    -fx-background-radius: 2.0 2.0 0.0 0.0, 2.0 2.0 0.0 0.0, 2.0 2.0 0.0 0.0;
    -fx-background-insets: 0.0, 1.0, 2.0;  
    -fx-padding: 0.083333em 0.5em 0.083333em 0.5em; 

}

.dependency-tab-pane  > .tab-content-area{
	-fx-background-color:rgb(86.0,69.0,79.0);
    -fx-border-color: rgb(247.0,88.0,108.0); 
    -fx-border-width: 5.0 5.0 0.0 0.0;
}

.hierarchyNode-top-pane{
    -fx-background-color: rgb(237.0,237.0,237.0); 
}
.hierarchyNode-label{
    -fx-font-family: "Century Gothic";
	-fx-font-size: 25px;-fx-text-fill:#874F64;
    -fx-text-alignment:right;
}
.hierarchyNode-search-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-image : url("../images/SearchBtn.png");   
    -fx-background-color: #DD717E;
    -fx-border-width: 0.0 0.0 0.0 0.0;    
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;    
}

.hierarchyNode-search-button:hover{
    -fx-background-image : url("../images/SearchBtn_Hover.png");
}
.hierarchyNode-search-textbox{
    -fx-border-color: #C59FA1; 
    -fx-border-width: 1.0 0.0 1.0 1.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;  
}


.hierarchyNode-add-button{
    -fx-background-image : url("../images/AddBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.hierarchyNode-add-button:hover{    
    -fx-background-image : url("../images/AddBtn_Hover.png");
}

.hierarchyNode-add-partition{
    -fx-stroke : #67E0FF;
}

.hierarchyNode-additional-option-button{
    -fx-background-image : url("../images/MoreOptionsBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
    -fx-cursor: hand;
}

.hierarchyNode-additional-option-button:hover{
    -fx-background-image : url("../images/MoreOptionsBtn_Hover.png");
}

.hierarchyNode-viewAll-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/ViewAllBtn.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    /*-fx-cursor: hand;*/
}

.pagination-first-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #544F55;
    -fx-background-image : url("../images/pagination/PaginationFirstBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.pagination-first-button:hover{
    -fx-background-image : url("../images/pagination/PaginationFirstBtn_Hover.png");
}

.pagination-previoous-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #544F55;
    -fx-background-image : url("../images/pagination/PaginationPreviousBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.pagination-previoous-button:hover{   
    -fx-background-image : url("../images/pagination/PaginationPreviousBtn_Hover.png");   
}


.pagination-next-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #544F55;
    -fx-background-image : url("../images/pagination/PaginationNextBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.pagination-next-button:hover{
    -fx-background-image : url("../images/pagination/PaginationNextBtn_Hover.png");   
}


.pagination-last-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #544F55;
    -fx-background-image : url("../images/pagination/PaginationLastBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.pagination-last-button:hover{
    -fx-background-image : url("../images/pagination/PaginationLastBtn_Hover.png");
}

.pagination-label{
    -fx-background-color : #544F55;
    -fx-text-fill: white;
    -fx-font-size: 10.0pt;
}
.advanced-search-menu-item {   
    -fx-background-image : url("../images/menuitems/AdvSearchBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color : transparent;

}

.advanced-search-menu-item:hover {
    -fx-background-image : url("../images/menuitems/AdvSearchBtn_Hover.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.project-diary-menu-item {
    -fx-background-image : url("../images/menuitems/ProjDiarytBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color : transparent;

}
.project-diary-menu-item:hover {
    -fx-background-image : url("../images/menuitems/ProjDiarytBtn_Hover.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}
.view-plant-menu-item {
    -fx-background-image : url("../images/menuitems/ViewPlantBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color : transparent;
}
.view-plant-menu-item:hover {
    -fx-background-image : url("../images/menuitems/ViewPlantBtn_Hover.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.more-option-menu{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  1.0 1.0 1.0 1.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
}
.hierarchy-context-menu{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  1.0 1.0 1.0 1.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #626A77;
    /*-fx-background-image : url("../images/menuitems/ContextMenuBG.png");*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}
.hierarchy-context-menu-item{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
}
.hierarchy-context-menu-item:hover{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
    -fx-background-color : #5F8297;
}

.common-search-button{
    -fx-background-color : transparent;
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-border-radius : 0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-image : url("../images/search/SearchGenricBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.common-search-button:hover{
    -fx-background-color : transparent;
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-border-radius : 0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-image : url("../images/search/SearchGenricBtn_Hover.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.common-search-button:pressed{
    -fx-background-image : url("../images/search/SearchGenricBtn_OnClick.png");
}

.common-advsearch-button{
    -fx-background-color : transparent;
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image : url("../images/SearchGenricAdvBtn.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.common-advsearch-button:hover{
    -fx-background-color : transparent;
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image : url("../images/SearchGenricAdvBtn_Hover.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.test-pane{
    -fx-background-color :  #544F55;
}

/*Advanced Search style*/

.advanced-search-pane{
    -fx-background-color : #624D5E;
    -fx-background-radius: 10.0;
}

.search-pane-label{
    -fx-font-size: 11.0px;    
    -fx-font-style: italic;
    -fx-text-fill: white;
}
.search-hierarchy-btn{
    -fx-background-image : url("../images/search/SearchHierBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}
.search-hierarchy-btn:hover{
    -fx-background-image : url("../images/search/SearchHierBtn_Hover.png");
}
.search-hierarchy-btn:pressed{
    -fx-background-image : url("../images/search/SearchHierBtn_OnClick.png");
}


.search-jobgroups-btn{
    -fx-background-image : url("../images/search/SearchJobGrpsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobgroups-btn:hover{
    -fx-background-image : url("../images/search/SearchJobGrpsBtn_Hover.png");
}

.search-jobgroups-btn:pressed{
    -fx-background-image : url("../images/search/SearchJobGrpsBtn_OnClick.png");
}

.search-job-btn{
    -fx-background-image : url("../images/search/SearchJobsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-job-btn:hover{
    -fx-background-image : url("../images/search/SearchJobsBtn_Hover.png");
}

.search-job-btn:pressed{
    -fx-background-image : url("../images/search/SearchJobsBtn_OnClick.png");
}

.search-cancel-btn{
    -fx-background-image : url("../images/search/CancelSearchBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-cancel-btn:hover{
    -fx-background-image : url("../images/search/CancelSearchBtn_Hover.png");
}

.search-cancel-btn:pressed{
    -fx-background-image : url("../images/search/CancelSearchBtn_OnClick.png");
}

.advance-search-header{
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-border-color: white;
}

.advance-search-footer{
    -fx-border-width: 1.0 0.0 0.0 0.0;
    -fx-border-color: white;
}

.search-ongoing-button{
    -fx-background-image : url("../images/search/SearchOngoingJobsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-ongoing-button:hover{
    -fx-background-image : url("../images/search/SearchOngoingJobsBtn_Hover.png");
}

.search-ongoing-button:pressed{
    -fx-background-image : url("../images/search/SearchOngoingJobsBtn_OnClick.png");
}

.filter-ongoing{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/SearchOngoingJobsBtn.png");
}


.search-completed-button{
    -fx-background-image : url("../images/search/SearchCompletedJobsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-completed-button:hover{
    -fx-background-image : url("../images/search/SearchCompletedJobsBtn_Hover.png");
}

.search-completed-button:pressed{
    -fx-background-image : url("../images/search/SearchCompletedJobsBtn_OnClick.png");
}

.filter-completed{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/SearchCompletedJobsBtn.png");
}

.search-planned-button{
    -fx-background-image : url("../images/search/SearchPlannedJobsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-planned-button:hover{
    -fx-background-image : url("../images/search/SearchPlannedJobsBtn_Hover.png");
}

.search-planned-button:pressed{
    -fx-background-image : url("../images/search/SearchPlannedJobsBtn_OnClick.png");
}

.filter-planned{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/SearchPlannedJobsBtn.png");
}

.search-delayed-button{
    -fx-background-image : url("../images/search/SearchDelayedJobsBtn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-delayed-button:hover{
    -fx-background-image : url("../images/search/SearchDelayedJobsBtn_Hover.png");
}

.search-delayed-button:pressed{
    -fx-background-image : url("../images/search/SearchDelayedJobsBtn_OnClick.png");
}

.filter-delayed{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/SearchDelayedJobsBtn.png");
}


.search-initiatedjobs-button{
    -fx-background-image : url("../images/search/JobsInitiatedByMe.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-initiatedjobs-button:hover{
    -fx-background-image : url("../images/search/JobsInitiatedByMe_Hover.png");
}

.search-initiatedjobs-button:pressed{
    -fx-background-image : url("../images/search/JobsInitiatedByMe_OnClick.png");
}

.filter-initiatedjobs{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/JobsInitiatedByMe.png");
}


.search-ownedjobs-button{
    -fx-background-image : url("../images/search/JobsOwnedByMe.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-ownedjobs-button:hover{
    -fx-background-image : url("../images/search/JobsOwnededByMe_Hover.png");
}

.search-ownedjobs-button:pressed{
    -fx-background-image : url("../images/search/JobsOwnededByMe_OnClick.png");
}

.filter-ownedjobs{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/JobsOwnedByMe.png");
}

.search-jobs-consistant-delay-button{
    -fx-background-image : url("../images/search/Jobs_ConsistentlyDelayed_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-consistant-delay-button:hover{
 -fx-background-image : url("../images/search/Jobs_ConsistentlyDelayedBtn_Hover.png");
}


.search-jobs-consistant-delay-button:pressed{
 -fx-background-image : url("../images/search/Jobs_ConsistentlyDelayedBtn_OnClick.png");
}

.filter-jobs-consistant-delay{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image :  url("../images/search/Jobs_ConsistentlyDelayed_Icon.png");
}


.search-jobs-consistant-overrun-button{
    -fx-background-image : url("../images/search/Jobs_ConsistentOverrun_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-consistant-overrun-button:hover{
	    -fx-background-image : url("../images/search/Jobs_ConsistentOverrunBtn_Hover.png");
	
}

.search-jobs-consistant-overrun-button:pressed{
	    -fx-background-image : url("../images/search/Jobs_ConsistentOverrunBtn_OnClick.png");	
}

.filter-jobs-consistant-overrun{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/Jobs_ConsistentOverrun_Icon.png");
}

.search-jobs-critical-path-button{
    -fx-background-image : url("../images/search/Jobs_CriticalPath_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-critical-path-button:hover{
	 -fx-background-image : url("../images/search/Jobs_CriticalPathBtn_Hover.png");   
}

.search-jobs-critical-path-button:pressed{
	 -fx-background-image : url("../images/search/Jobs_CriticalPathBtn_OnClick.png");   
}

.filter-jobs-critical-path{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image :  url("../images/search/Jobs_CriticalPath_Icon.png");
}

.search-jobs-revised-date-button{
    -fx-background-image : url("../images/search/Jobs_RevisedDates_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-revised-date-button:hover{
	 -fx-background-image : url("../images/search/Jobs_RevisedDatesBtn_Hover.png");
}

.search-jobs-revised-date-button:pressed{
	 -fx-background-image : url("../images/search/Jobs_RevisedDatesBtn_OnClick.png");
}

.filter-jobs-revised-date{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image :url("../images/search/Jobs_RevisedDates_Icon.png");
}



.search-jobs-revised-estimate-button{
    -fx-background-image : url("../images/search/Jobs_RevisedEstimates_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-revised-estimate-button:hover{
	 -fx-background-image : url("../images/search/Jobs_RevisedEstimatesBtn_Hover.png");
}

.search-jobs-revised-estimate-button:pressed{
	 -fx-background-image : url("../images/search/Jobs_RevisedEstimatesBtn_OnClick.png");
}

.filter-jobs-revised-estimate{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/Jobs_RevisedEstimates_Icon.png");
}

.search-jobs-to-schedule-button{
    -fx-background-image : url("../images/search/Jobs_ToSchedule_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-jobs-to-schedule-button:hover{
	 -fx-background-image : url("../images/search/Jobs_ToScheduleBtn_Hover.png");
}

.search-jobs-to-schedule-button:pressed{
	 -fx-background-image : url("../images/search/Jobs_ToScheduleBtn_OnClick.png");
}

.filter-jobs-to-schedule{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/Jobs_ToSchedule_Icon.png");
}

.search-system-consistant-delay-button{
    -fx-background-image : url("../images/search/Systems_ConsistentDelays_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-system-consistant-delay-button:hover{
	 -fx-background-image : url("../images/search/Systems_ConsistenDelaysBtn_Hover.png");
}

.search-system-consistant-delay-button:pressed{
	 -fx-background-image : url("../images/search/Systems_ConsistenDelaysBtn_OnClick.png");
}

.filter-system-consistant-delay{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image :  url("../images/search/Systems_ConsistentDelays_Icon.png");
}

.search-unit-consistant-delay-button{
    -fx-background-image : url("../images/search/Units_ConsistenDelays_Icon.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-unit-consistant-delay-button:hover{
	 -fx-background-image : url("../images/search/Units_ConsistentDelaysBtn_Hover.png");
}

.search-unit-consistant-delay-button:pressed{
	 -fx-background-image : url("../images/search/Units_ConsistentDelaysBtn_OnClick.png");
}

.filter-unit-consistant-delay{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/Units_ConsistenDelays_Icon.png");
}

.search-job-start-in-days{
	-fx-background-image : url("../images/search/JobsToStartIn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-job-start-in-days:hover{
	-fx-background-image : url("../images/search/JobsToStartIn_Hover.png");
}

.search-job-start-in-days:pressed{
	-fx-background-image : url("../images/search/JobsToStartIn_OnClick.png");
}

.filter-job-start-in-days{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image : url("../images/search/JobsToStartIn.png");
}

.search-job-complete-in-days{
	-fx-background-image : url("../images/search/JobsToCompleteIn.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
}

.search-job-complete-in-days:hover{
	-fx-background-image : url("../images/search/JobsToCompleteIn_Hover.png");
}

.search-job-complete-in-days:pressed{
	-fx-background-image : url("../images/search/JobsToCompleteIn_OnClick.png");
}

.filter-job-complete-in-days{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: transparent;
    -fx-image :url("../images/search/JobsToCompleteIn.png");
}

.filter-clear-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
   -fx-background-position:  center;
  /*  -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  */
	-fx-background-image : url("../images/search/QLFltrCloseBtn.png");
}
.filter-clear-button:hover{
	-fx-background-image : url("../images/search/QLFltrCloseBtn_Hover.png");
}
.filter-clear-button:pressed{
	-fx-background-image : url("../images/search/QLFltrCloseBtn_OnClick.png");
}


.filter-label{
	/*  -fx-font-family: "Century Gothic";*/
	-fx-font-size: 10px;-fx-text-fill:#E9E3E5;
    -fx-text-alignment:left;
}





/*.search_pane{
    -fx-background-color:  rgb(98,77,94);
}
.img_label1{
    -fx-image : url('../images/search/SearchOngoingJobsBtn.png');
}
.img_label2{
    -fx-image : url('../images/search/SearchPlannedJobsBtn.png');
}
.img_label3{
    -fx-image : url('../images/search/SearchJobsInitiatedBtn.png');
}
.img_label4{
    -fx-image : url('../images/search/SearchCompletedJobsBtn.png');
}
.img_label5{
    -fx-image : url('../images/search/SearchDelayedJobsBtn.png');
}
.img_label6{
    -fx-image : url('../images/search/SearchJobsOwnedBtn.png');
}

.search_image1{
    -fx-border-radius: 0 0 0 0;  
    -fx-border-width:  0 0 0 0;
    -fx-background-color : transparent;
    -fx-background-image: url('../images/search/SearchAdvancedBtn.png');
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.cancel_image1{
    -fx-border-radius: 0 0 0 0;  
    -fx-border-width:  0 0 0 0;
    -fx-background-color : transparent;
    -fx-background-image: url('../images/search/CancelSearchBtn.png');
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;   

}
.search_button {
    -fx-border-radius: 10 10 10 10;  
    -fx-border-width:  10 10 10 10;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/search/SearchPredefinedBtn.png');
    -fx-background-position: left top, right bottom;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

.searchbox1{
    -fx-image : url('../image_SearchCategoryIcons/CompletedJobsIcon.png'); 

}
.searchbox2{
    -fx-image : url('../image_SearchCategoryIcons/OngoingJobsIcon.png'); 
}
.searchbox3{
    -fx-image : url('../image_SearchCategoryIcons/PlannedJobsIcon.png'); 
}
.searchbox4{
    -fx-image : url('../image_SearchCategoryIcons/DelayedJobsIcon.png'); 
}
.searchbox5{
    -fx-image : url('../image_SearchCategoryIcons/InitiatedJobsIcon.png'); 
}
.searchbox6{
    -fx-image : url('../image_SearchCategoryIcons/OwnedJobsIcon.png'); 
}

.date-picker-popup >  * > .day-cell{
    -fx-text-fill : #ebe7e7;
    -fx-border-radius: 1 1 1 1;  
    -fx-background-color:  rgb(90,77,94);
    -fx-border-color:rgb(98,77,94);
}
.date-picker-popup > *  {

    -fx-background-color: rgb(90,77,94);   
}
.date-picker-popup>*>.day-name-cell {
    -fx-background-color:  rgb(90,77,94);
    -fx-text-fill : #ebe7e7;
    -fx-border-color:rgb(98,77,94);
    -fx-font: 8pt "Century Gothic";
}

.date-picker-popup>*>.date-cell:hover{
    -fx-background-color:rgb(98,77,94);
}
.date-picker-popup>*>.today {
    -fx-border-color: #abc7df; 
    -fx-background-color : derive(-fx-box-border,30%);
    -fx-text-fill : blue;
}

.date-picker-popup > *>.month-name-pane {
    -fx-text-fill : red;
    -fx-background-color:blue;
}
.date-picker>*.arrow-button>*.arrow {
    -fx-border-radius: 0 0 0 0;  
    -fx-border-width:  1 1 1 1;
    -fx-background-color : transparent;

}

.date-picker:editable.date-picker-display-node {
    -fx-background-color : #56444F;
    -fx-border-width:  0 0 0 0;
    -fx-text-fill: white;
}*/

/*Checklist style*/

.spreadsheet{    
    -fx-border-width:  0.0 0.0 0.0 0.0;
}

/*.checklist-pane{
    -fx-background-color: #56444F;      
}*/

.checklist-data-list{
    -fx-background-color: transparent;
    -fx-border-width:  0.0 1.0 0.0 0.0;
    -fx-border-color : white;
}
.list-cell:even{
    -fx-background-color: #56444F;   
}
.list-cell:odd{
    -fx-background-color: #56444F;   
}
.list-cell:empty{
    -fx-background-color: #56444F;   
}

.list-cell:filled {
    -fx-text-fill: white;
}

.list-cell:filled:selected{
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-background-color: #997A8C;
}

.checklist-item-details{
    -fx-background-color: #56444F;
    -fx-border-width: 0.0 0.0 0.0 0.0;
    -fx-border-color : white;
}
.checklist-item-details-cell{
    -fx-background-color: #56444F;
    -fx-text-fill: white;
}

.checklist-item-details .column-header{
    -fx-background-color: #56444F;
    -fx-border-width: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
}

.checklist-item-details *.column-header-background {
    -fx-background-color: #56444F;   
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 1.0 0.0;
    -fx-border-color : white;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
}
.checklist-item-details *.column-header *.label{
    -fx-text-fill : white;
    -fx-background-color: #56444F; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    
}

.checklist-item-details>*.column-header-background>*.show-hide-columns-button { 
    -fx-background-color: #56444F; 

}

.checklist-view-button{
    -fx-background-image : url("../images/checklist/CheckListViewBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor:hand;
}
.checklist-view-button:hover{
    -fx-background-image : url("../images/checklist/CheckListViewBtn_Hover.png");
}

.checklist-data-pane{
    -fx-border-width: 1.0 1.0 1.0 0.0;
    -fx-border-color : white;
}

.checklist-left-pane{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-border-color : white;
}


.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold italics;
    /*-fx-text-fill: white;*/

}

.dependency-pane-label{
    -fx-font-size: 12.0px;
    -fx-font-weight: bold italics;
    -fx-text-fill: white;
}

.checklist-item-checkbox>*.box {  
    -fx-background-color:transparent;
    -fx-border-radius: 7.5px;
    -fx-padding: 2.0px;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
}

.checklist-item-checkbox:selected>*.box{
    -fx-background-color:#99DB81;
    -fx-background-radius: 7.5px;    
    -fx-border-radius: 7.5px;
    -fx-padding: 2.0px;
    -fx-border-width: 0.5px;
    -fx-border-color: white;    
}

.checklist-item-checkbox{
    -fx-text-fill: black;
}

.checklist-item-checkbox:selected>*.box>*.mark { 
    -fx-background-color:white;
}

.checklist-item-cell{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color: #56444F;
}
.dependency-job-cell{
    -fx-border-width:  1.0 1.0 1.0 1.0;
    -fx-background-color: #56444F;
    -fx-border-color:  white;
}

.add-checklist-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image: url('../images/checklist/AddListBtn.png');
    -add-checklist-buttonfx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;   
}

.add-checklist-button:hover{
    -fx-background-image: url('../images/checklist/AddListBtn_Hover.png');
}

.add-checklist-submit{
    -fx-background-color : #FB706D; 
    -fx-text-fill: white;
}

.add-checklist-cancel{
    -fx-background-color : #FB706D; 
    -fx-text-fill: white;
}

.add-checklist-item-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image: url('../images/additems/AddBtn.png');
    -add-checklist-buttonfx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;   
}

.add-checklist-item-button:hover{
    -fx-background-image: url('../images/additems/AddBtn_Hover.png');
}

/*Add Item style*/

.save{
    -fx-background-color : white;
}
.upload_image {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/AddImgsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.upload_doc {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/AddDocsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.upload_draw {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/AddDwgsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.schedule_job {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/ScheduleBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.ok {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/OKBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.reset {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/ResetFieldsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}
.cancel {
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/CancelFieldsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;  
}

.cancel:hover{
    -fx-background-image :url('../images/additems/CancelFieldsBtn_Hover.png');
}


/*Hierarchy Edit Panel*/

.hierarchy-edit-details-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/MoreFieldsBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.hierarchy-edit-details-button:hover{
    -fx-background-image :url('../images/additems/MoreFieldsBtn_Hover.png');
}

.hierarchy-edit-addItem-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image :url('../images/additems/AddBtn.png');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.hierarchy-edit-addItem-button:hover{
    -fx-background-image :url('../images/additems/AddBtn_Hover.png');
}

/*Dependency Job*/


.dependency-table-cell{
    -fx-background-color: #56444F;
    -fx-text-fill: white;
}

.dependency-table .column-header{
    -fx-background-color: #56444F;
    -fx-border-width: 0.0 0.0 0.0 0.0;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
}

.dependency-table *.column-header-background {
    -fx-background-color: #56444F;   
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 1.0 0.0;
    -fx-border-color : white;
    -fx-background-radius: 0.0 0.0 0.0 0.0;
}
.dependency-table *.column-header *.label{
    -fx-text-fill : white;
    -fx-background-color: #56444F; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    

}

.dependency-table>*.column-header-background>*.show-hide-columns-button { 
    -fx-background-color: #56444F; 
}


.dependency-table.table-row-cell{
    -fx-background-color: #56444F; 
}

.dependency-item-tab{
    -fx-effect: dropshadow;
}

.crumb {
    -fx-background-color: #F4D981; 
}
.tree-view {
    -fx-padding: 1.0;
    -fx-background-color: #F4D981; 
    -fx-background-insets: 0.0,1.0;
}

.tree-cell:hover {
    -fx-background-color: #F4D981 ;
}

.show-dependent-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

/*.show-dependent-button:hover{
    -fx-background-image :url('../images/toggle/ViewHierBtn_Hover.png');
}

.show-dependent-button:pressed{
    -fx-background-image :url('../images/toggle/ViewHierBtn_OnClick.png');
}*/


.show-dependent-button:selected{
    -fx-background-image :url('../images/toggle/ViewHierBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);   */
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}

.show-all-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    /*-fx-background-image :url('../images/toggle/ViewToggleBtn.png');*/
    /*-fx-background-color : #666F7C;*/
    /*-fx-background-image :url('../images/toggle/ViewAllBtn.png');*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

/*.show-all-button:hover{
    -fx-background-image :url('../images/toggle/ViewAllBtn_Hover.png');
}

.show-all-button:pressed{
    -fx-background-image :url('../images/toggle/ViewAllBtn_OnClick.png');
}*/

.show-all-button:selected{
    -fx-background-image :url('../images/toggle/ViewAllBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            #D78595,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}

.show-all-jobgroups-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;  
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

/*.show-all-jobgroups-button:hover{
    -fx-background-image :url('../images/toggle/ViewLinkdGrpBtn_Hover.png');
}

.show-all-jobgroups-button:pressed{
    -fx-background-image :url('../images/toggle/ViewLinkdGrpBtn_OnClick.png');
}*/


.show-all-jobgroups-button:selected{
    -fx-background-image :url('../images/toggle/ShowAllJobsGrpBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}

.show-all-jobs-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

/*.show-all-jobs-button:hover{
    -fx-background-image :url('../images/toggle/ViewLinkdJobsBtn_Hover.png');
}

.show-all-jobs-button:pressed{
    -fx-background-image :url('../images/toggle/ViewLinkdJobsBtn_OnClick.png');
}*/

.show-all-jobs-button:selected{
    -fx-background-image :url('../images/toggle/ShowAllJobsBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}

.show-linked-jobs-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.show-linked-jobs-button:selected{
    -fx-background-image :url('../images/toggle/ViewLinkdJobsBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}

.show-linked-job-groups-button{
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-border-radius: 0.0 0.0 0.0 0.0;  
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.show-linked-job-groups-button:selected{
    -fx-background-image :url('../images/toggle/ViewLinkdGrpBtn.png');
    /*-fx-background-color : #666F7C;*/
    -fx-background-color : #738DA2;
    /*    -fx-background-color:
            -fx-shadow-highlight-color,
            linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
            linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
            linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);*/
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 1.0;
}


.modal-dialog-glass {
    /*-fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4);*/ 
    /*-fx-background-color: derive(cadetblue, -20%);*/
    -fx-background-color: rgba(0.0, 0.0, 0.0,0.5);  
    -fx-background-insets: 12.0; 
    -fx-background-radius: 6.0;
}

.dependent-item-cell{
    -fx-background-color: #56444F;
    -fx-text-fill: white;
}

.dependent-item-cell:filled:selected{
    -fx-background-color: #997A8C;
    -fx-text-fill: white;
}

dependent-item-table.table-row-cell{
    -fx-background-color: #997A8C;
    -fx-text-fill: white;
}

.dependent-item-table.table-row-cell:odd{
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}

.dependent-item-table.table-row-cell:even{
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}

.dependent-item-table .table-row-cell:filled {
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}

.dependent-item-table .table-row-cell:empty {
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}


.dependent-item-table .table-row-cell:filled:focused:selected {
    -fx-background-color: #997A8C;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.dependent-item-table:row-selection .placeholder{
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}
.dependent-item-table*.column-overlay { 
    -fx-background-color: #56444F;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}

.collapsible-node-pane{
    -fx-border-width :0.0;
    -fx-border-radius : 0.0 0.0 0.0 0.0;
}

.collapsible-node-pane>*.content { 
    -fx-background-color: transparent;
    -fx-border-width : 0.0;
}

.collapsible-node-pane>*.title{
    -fx-border-radius : 0.0 0.0 0.0 0.0;
}

.collapsible-node-pane>*.title.text { 
    -fx-font-size: 12.0pt;
    -fx-text-fill: #874F64; 
    /*-font-weight : 200;*/
    -fx-font-weight: bold;
    -fx-text-alignment:right;
}

.main-menu-bar{
    -fx-background-image : url("../images/menuitems/MenuBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #984D68;  
    -fx-base : #984D68;
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.main-menu-bar:hover{
    -fx-background-image : url("../images/menuitems/MenuBtn_Hover.png");
    -fx-cursor: hand;
    -fx-background-color : transparent;   
} 

.main-menu-bar:hover.label{
    -fx-background-color : transparent;  
}

.main-menu-button.label{
     -fx-background-color : transparent;
}

.main-menu-button:focused.label{
     -fx-background-color : transparent;
}

.main-menu-button:hover.label{
    -fx-background-color : transparent;
}


.main-menu-item{
    -fx-background-color : #984D68;  
}
.main-menu-item:hover{
    -fx-background-color : #6F385E;  
}
.main-menu-item.label{
    -fx-text-fill: #D1A6B5;
}
.main-menu-item:hover.label{
    -fx-background-color : transparent;  
}

.status-view-pane{
    -fx-background-color:  transparent;   
    -fx-background-image:  url("../images/BG_Display.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch ;
}

.main-menu-button{
    -fx-background-image : url("../images/menuitems/MenuBtn.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.unit-search-button{
    -fx-background-image : url("../images/level/Icon_Units.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : white;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.unit-search-button:selected{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90.0%) 0.0%, derive(-fx-color,-60.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-60.0%) 0.0%, derive(-fx-color,-35.0%) 50.0%, derive(-fx-color,-30.0%) 98.0%, derive(-fx-color,-50.0%) 100.0%),
        linear-gradient(to right, rgba(0.0,0.0,0.0,0.3) 0.0%, rgba(0.0,0.0,0.0,0.0) 10.0%, rgba(0.0,0.0,0.0,0.0) 90.0%, rgba(0.0,0.0,0.0,0.3) 100.0%);
}

.system-search-button{
    -fx-background-image : url("../images/level/Icon_Systems.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : white;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.system-search-button:selected{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90.0%) 0.0%, derive(-fx-color,-60.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-60.0%) 0.0%, derive(-fx-color,-35.0%) 50.0%, derive(-fx-color,-30.0%) 98.0%, derive(-fx-color,-50.0%) 100.0%),
        linear-gradient(to right, rgba(0.0,0.0,0.0,0.3) 0.0%, rgba(0.0,0.0,0.0,0.0) 10.0%, rgba(0.0,0.0,0.0,0.0) 90.0%, rgba(0.0,0.0,0.0,0.3) 100.0%);
}

.subsystem-search-button{
    -fx-background-image : url("../images/level/Icon_SubSystems.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : white;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.subsystem-search-button:selected{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90.0%) 0.0%, derive(-fx-color,-60.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-60.0%) 0.0%, derive(-fx-color,-35.0%) 50.0%, derive(-fx-color,-30.0%) 98.0%, derive(-fx-color,-50.0%) 100.0%),
        linear-gradient(to right, rgba(0.0,0.0,0.0,0.3) 0.0%, rgba(0.0,0.0,0.0,0.0) 10.0%, rgba(0.0,0.0,0.0,0.0) 90.0%, rgba(0.0,0.0,0.0,0.3) 100.0%);
}

.loops-search-button{
    -fx-background-image : url("../images/level/Icon_Loops.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : white;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.loops-search-button:selected{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90.0%) 0.0%, derive(-fx-color,-60.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-60.0%) 0.0%, derive(-fx-color,-35.0%) 50.0%, derive(-fx-color,-30.0%) 98.0%, derive(-fx-color,-50.0%) 100.0%),
        linear-gradient(to right, rgba(0.0,0.0,0.0,0.3) 0.0%, rgba(0.0,0.0,0.0,0.0) 10.0%, rgba(0.0,0.0,0.0,0.0) 90.0%, rgba(0.0,0.0,0.0,0.3) 100.0%);
}


.jobs-search-button{
    -fx-background-image : url("../images/level/Icon_Jobs.png");
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : white;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.jobs-search-button:selected{
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90.0%) 0.0%, derive(-fx-color,-60.0%) 100.0%),
        linear-gradient(to bottom, derive(-fx-color,-60.0%) 0.0%, derive(-fx-color,-35.0%) 50.0%, derive(-fx-color,-30.0%) 98.0%, derive(-fx-color,-50.0%) 100.0%),
        linear-gradient(to right, rgba(0.0,0.0,0.0,0.3) 0.0%, rgba(0.0,0.0,0.0,0.0) 10.0%, rgba(0.0,0.0,0.0,0.0) 90.0%, rgba(0.0,0.0,0.0,0.3) 100.0%);
}

.search-box{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
}

/*.status-chart{
    -fx-background-color : white;   
}
.status-chart.chart-content.
    -fx-stroke-dash-array: 0.00em;
}*/

/*.chart-plot-background{
-fx-background-color: #56444F;
}
.chart-content{
-fx-background-color: #56444F;
}
.chart-horizontal-grid-lines{
    -fx-stroke : red;   
}*/


.status-chart-pane{
    -fx-background-color: #56444F;
    -fx-background-radius : 10.0 0.0 0.0 10.0;
}

.predictive-analysis-pane{
    -fx-background-color: #56444F;
    -fx-background-radius : 0.0 10.0 10.0 0.0;
}

.chart{
    -fx-background-color: #56444F;
}


.chart-content {
    -fx-padding: 30.0px;    
}

.chart-title {
    -fx-text-fill: #DBD3AE;
    -fx-font-size: 1.6em;
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #E9DAE4;
    -fx-font-family: Tahoma;   
}

.axis-label {
    -fx-text-fill: white;
}


.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20.0px;

}

.chart-legend-item-symbol{
    -fx-background-radius: 0.0;

}

.chart-legend-item{
    -fx-text-fill: white;
}

.chart-plot-background {
    -fx-background-color: #56444F;
}
.chart-vertical-grid-lines {
    -fx-stroke: #E9DAE4;   
}
.chart-horizontal-grid-lines {
    -fx-stroke: #E9DAE4;

}
.axis-tick-mark {
    -fx-stroke: #E9DAE4;
    -fx-stroke-width: 2.0; 
}

.critical-jobs-pane{
    -fx-background-color: #56444F;
}
.critical-jobs-header{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 2.0 0.0;
    -fx-border-color: #F7586C;
    -fx-background-color: #56444F;
}

.job-icon{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/Icon_Jobs.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.job-panel-label{
	 -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/PanelLbl_Job.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor: hand;
}

.loop-icon{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/Icon_Loops.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.loop-panel-label{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/PanelLbl_Loop.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor: hand;
}

.subsystem-icon{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/Icon_SubSystems.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;     
}

.subsystem-panel-label{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/PanelLbl_SubSystem.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor: hand;
}



.system-icon{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/Icon_Systems.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}


.system-panel-label{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/PanelLbl_System.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor: hand;
}


.unit-icon{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/Icon_Units.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.unit-panel-label{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/icons/PanelLbl_Unit.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-cursor: hand;
}

/*
Style for the Error Alerts
*/

.error-alert-pane{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;
}
.error-alert-image{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;
    -fx-image : url("../images/alert/error.png");
}
.error-alert-header{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;   
}
.error-alert-header-label{
    -fx-text-fill : #E0D1CE;
    -fx-font-size: 18.0pt;
    -fx-font-family: "Century Gothic";
    -fx-background-color: #BE5763; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    
}
.error-alert-footer{
     -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #56444F;
}

.error-alert-text{
     /*-fx-font: 12pt "Century Gothic";*/
     -fx-fill: #CEB9B3;
}


/**
Style for Warning Alerts
*/


.error-alert-pane{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;
}
.error-alert-image{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;
    -fx-image : url("../images/alert/error.png");
}
.error-alert-header{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #BE5763;   
}
.error-alert-header-label{
    -fx-text-fill : #E0D1CE;
    -fx-font-size: 18.0pt;
    -fx-font-family: "Century Gothic";
    -fx-background-color: #BE5763; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    
}


.error-alert-text{
     /*-fx-font: 12pt "Century Gothic";*/
     -fx-fill: #CEB9B3;
}


/**
Warn Alert Style
*/

.warn-alert-pane{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #CDA37B;
}
.warn-alert-image{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #CDA37B;
    -fx-image : url("../images/alert/warning.png");
}
.warn-alert-header{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #CDA37B;   
}
.warn-alert-header-label{
    -fx-text-fill : #F2E1D3;
    -fx-font-size: 18.0pt;
    -fx-font-family: "Century Gothic";
    -fx-background-color: #CDA37B; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    
}


.warn-alert-text{   
     -fx-fill: #EAD5C3;
}



/**
Info Alert Style
*/

.info-alert-pane{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #B8C898;
}
.info-alert-image{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #B8C898;
    -fx-image : url("../images/alert/info.png");
}
.info-alert-header{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #B8C898;   
}
.info-alert-header-label{
    -fx-text-fill : #EEF9E3;
    -fx-font-size: 18.0pt;
    -fx-font-family: "Century Gothic";
    -fx-background-color: #B8C898; 
    -fx-border-radius: 0.0 0.0 0.0 0.0;    
}


.info-alert-text{   
     -fx-fill: #E1EFCB;
}




.alert-footer{
     -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : #56444F;
}

.alert-ok-button{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  1.0 1.0 1.0 1.0;
    -fx-background-color : #56444F;
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
    -fx-background-image : url("../images/alert/OKBtn.png");
}

.alert-ok-button:hover{    
    -fx-background-image : url("../images/alert/OKBtn_Hover.png");    
}

.alert-ok-button:pressed{    
    -fx-background-image : url("../images/alert/OKBtn_OnClick.png");    
}

.job-status-list{
    -fx-background-color: transparent;
    -fx-border-width:  0.0 1.0 0.0 0.0;
    -fx-border-color : white;
}


.info-checklist-icon{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/checklist/Info.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.initiation-checklist-icon{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/checklist/Initiated.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

.completion-checklist-icon{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;
    -fx-background-image : url("../images/checklist/Completed.png");
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
}

/**
 * Style for Plant wiki
 */

.wiki-message-label {
     -fx-text-fill: #895166;  
   -fx-font: 20.0px "Century Gothic Regular";    
}

.wiki-page-label{    
    -fx-text-fill: #895166;    
     -fx-font-weight: bold;
     -fx-font: 22.0px "Century Gothic Bold";    
}

.wiki-banner{
	-fx-background-color : #F47273;
}

.wiki-banner-image{
    -fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-color : blue;
    -fx-image : url("../images/wiki/WarningIcon.png");
}

.wiki-image{
	-fx-border-radius: 1.0 1.0 1.0 1.0;
	-fx-border-color:#895166;
}



.wiki-create-no-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/NoBtn.png");
}
.wiki-create-no-button:hover{
	 -fx-background-image : url("../images/wiki/NoBtn_Hover.png");
}

.wiki-create-no-button:pressed{
	 -fx-background-image : url("../images/wiki/NoBtn_OnClick.png");
}

.wiki-create-yes-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto;
	 -fx-background-image : url("../images/wiki/YesBtn.png");
}

.wiki-create-yes-button:hover{
	 -fx-background-image : url("../images/wiki/YesBtn_Hover.png");
}

.wiki-create-yes-button:pressed{
	 -fx-background-image : url("../images/wiki/YesBtn_OnClick.png");
}


.wiki-edit-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/EditBtn.png");
}
.wiki-edit-button:hover{
	 -fx-background-image : url("../images/wiki/EditBtn_Hover.png");
}

.wiki-edit-button:pressed{
	 -fx-background-image : url("../images/wiki/EditBtn_OnClick.png");
}

.wiki-save-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/SaveBtn.png");
}
.wiki-save-button:hover{
	 -fx-background-image : url("../images/wiki/SaveBtn_Hover.png");
}

.wiki-save-button:pressed{
	 -fx-background-image : url("../images/wiki/SaveBtn_OnClick.png");
}

.wiki-remove-img-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/RemoveImgBtn.png");
}
.wiki-remove-img-button:hover{
	 -fx-background-image : url("../images/wiki/RemoveImgBtn_Hover.png");
}

.wiki-remove-img-button:pressed{
	 -fx-background-image : url("../images/wiki/RemoveImgBtn_OnClick.png");
}

.wiki-cancel-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/CancelBtn.png");
}
.wiki-cancel-button:hover{
	 -fx-background-image : url("../images/wiki/CancelBtn_Hover.png");
}

.wiki-cancel-button:pressed{
	 -fx-background-image : url("../images/wiki/CancelBtn_OnClick.png");
}

.wiki-remove-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/RemoveBtn.png");
}
.wiki-remove-button:hover{
	 -fx-background-image : url("../images/wiki/RemoveBtn_Hover.png");
}

.wiki-remove-button:pressed{
	 -fx-background-image : url("../images/wiki/RemoveBtn_OnClick.png");
}

.wiki-edit-img-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/EditImgBtn.png");
}
.wiki-edit-img-button:hover{
	 -fx-background-image : url("../images/wiki/EditImgBtn_Hover.png");
}

.wiki-edit-img-button:pressed{
	 -fx-background-image : url("../images/wiki/EditImgBtn_OnClick.png");
}

.wiki-close-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/CloseBtn.png");
}
.wiki-close-button:hover{
	 -fx-background-image : url("../images/wiki/CloseBtn_Hover.png");
}

.wiki-close-button:pressed{
	 -fx-background-image : url("../images/wiki/CloseBtn_OnClick.png");
}

.wiki-add-button{
	-fx-border-radius: 0.0 0.0 0.0 0.0;   
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-radius : 0.0 0.0 0.0 0.0;
    -fx-background-color : transparent;   
    -fx-background-position:  center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:  auto; 
	 -fx-background-image : url("../images/wiki/AddBtn.png");
}
.wiki-add-button:hover{
	 -fx-background-image : url("../images/wiki/AddBtn_Hover.png");
}

.wiki-add-button:pressed{
	 -fx-background-image : url("../images/wiki/AddBtn_OnClick.png");
}

.wiki-content-pane{
	-fx-background-color : #ffffff; 
}

.wiki-heading {
  -fx-background-color: #a9a9a9 , white , white;
  -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 3.0 -1.0;    
  -fx-font-size: 18.0px;
  -fx-text-fill: #895166; 
  -fx-font-family:  "Century Gothic Bold";
    
}


.wiki-heading:disabled{
	 -fx-background-color: #a9a9a9 , white , white;
  -fx-background-insets: 0.0 -1.0 -1.0 -1.0, 0.0 0.0 0.0 0.0, 0.0 -1.0 3.0 -1.0;    
  -fx-font-size: 18.0px;
  -fx-text-fill: red; 
  -fx-font-family:  "Century Gothic Bold";
}

.notification-button{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/notification/NotifyActiveBtn.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color: transparent;    
}

.notification-button:hover{
	-fx-background-image:  url("../images/notification/NotifyBtn_Hover.png"); 	
}

.notification-button:pressed{
	-fx-background-image:  url("../images/notification/NotifyBtn_OnClick.png");
}

.notification-label{
	 -fx-background-color: #E84F4F;    
	 -fx-border-radius:  10.0 10.0 10.0 10.0;
	 -fx-background-radius: 10.0 10.0 10.0 10.0;
	 -fx-text-fill: white;
}

.notification-alert-button{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/notification/AlertsMainBtn.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color: transparent;    
}

.notification-alert-button:hover{
	 -fx-background-image:  url("../images/notification/AlertsMainBtn_Hover.png");
}

.notification-alert-button:focused{
	 -fx-background-image:  url("../images/notification/AlertsMainBtn_OnClick.png");
}

.notification-alert-button-selected{
	 -fx-background-image:  url("../images/notification/AlertsMainBtn_OnClick.png");
	  -fx-background-color: transparent;    
}

.notification-warning-button{
    -fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/notification/AdvWarningsMainBtn.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color: transparent;    
}

.notification-warning-button:hover{
	 -fx-background-image:  url("../images/notification/AdvWarningsMainBtn_Hover.png");
}

.notification-warning-button:focused{
	 -fx-background-image:  url("../images/notification/AdvWarningsMainBtn_OnClick.png");
}


.notification-warning--button-selected{
	 -fx-background-image:  url("../images/notification/AdvWarningsMainBtn_OnClick.png");
	  -fx-background-color: transparent;    
}

.notification-info-button{
	-fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/notification/AdvicesMainBtn.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color: transparent;    
}

.notification-info-button:hover{
	 -fx-background-image:  url("../images/notification/AdvicesMainBtn_Hover.png");
}

.notification-info-button:focused{
	 -fx-background-image:  url("../images/notification/AdvicesMainBtn_OnClick.png");
}


.notification-info--button-selected{
	 -fx-background-image:  url("../images/notification/AdvicesMainBtn_OnClick.png");
	  -fx-background-color: transparent;    
}


.notification-close-button{
	-fx-border-width:  0.0 0.0 0.0 0.0;
    -fx-background-image:  url("../images/notification/CloseBtn.png"); 
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-color: transparent;   
}

.notification-close-button:hover{
	   -fx-background-image:  url("../images/notification/CloseBtn_Hover.png");
}



.notification-close-button:pressed{
	   -fx-background-image:  url("../images/notification/CloseBtn_OnClick.png");
}

.notification-header{
	-fx-background-color:  #56444F;   
}

.notification-header-label{	
	 -fx-text-fill: white;	
	 -fx-font: 16.0pt "Century Gothic";
}

.criticalpath-tab-pane  > .tab-content-area{
	-fx-background-color:rgb(86.0,69.0,79.0);
    -fx-border-color: rgb(247.0,88.0,108.0); 
    -fx-border-width: 5.0 5.0 0.0 0.0;
}


.criticalpath-scroll-pane>*.viewport { /* FX theme stylesheet */

	-fx-background-color:rgb(86.0,69.0,79.0);

}
